body {
  text-align: center;
  margin: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom right, rgb(123, 79, 192), rgb(235, 155, 235));
}

.App {
  height: 100vh;
}

.title {
  font-size: 40px;
  color: rgb(64, 43, 83);
  font-weight: 600;
}

.books {
  display: flex;
  justify-content: center;
}

label {
  color: rgb(51, 30, 70);
  font-weight: 900;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: center;
}

form {
  margin-bottom: 20px;
}

input {
  margin: 6px;
  height: 26px;
  border-radius: 4px;
}

li {
  margin: 20px;
  width: 250px;
  font-weight: 600;
  background-color: seashell;
  border-radius: 20px;
  padding-bottom: 10px;
  border: solid 2px rgb(235, 155, 235);
}

.icon {
  margin: 0px;
  width: 20%;
  color:rgb(41, 20, 66)
}

button {
  cursor: pointer;
  background-color: rgb(41, 20, 66);
  color: seashell;
  width: 60px;
  height: 30px;
}

button:hover {
  color: rgb(41, 20, 66);
  background-color: seashell;
}




